@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #20dad8;
    --color-secondary: #15658e;
    --color-white: #ffffff;
    --color-dark: #222222;
    --color-grey: #bcbcbc;
    --color-red: #e00000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--color-dark);
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}




/* HEADER TOP */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: var(--color-secondary);
}

.telephone p {
    color: var(--color-white);
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.socials i {
    cursor: pointer;
    color: var(--color-white);
}




/* HEADER BOTTOM */

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.header-bottom .logo {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.header-bottom .nav {
    display: flex;
    gap: 4rem;
}

.header-bottom .nav a {
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: .1rem solid var(--color-white);
    transition: all .2s ease-in-out;
}

.header-bottom .nav a:hover {
    border-bottom: .1rem solid var(--color-primary);
}

.header-bottom .buy .btn-buy {
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}




/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Images/Banner.jpg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    gap: 4rem;
    padding: 3rem;
    padding-bottom: 7rem;
    opacity: .9;
    background-color: var(--color-white);
}

.hero .search p {
    font-weight: 500;
    margin-bottom: .5rem;
}

.hero .search input {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: .5rem 1rem;
    width: 200px;
}

.hero .btn-search {
    margin-top: -85px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    border-radius: 30px;
    z-index: 999;
}




/* TRAVELS */

.travels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    gap: 4rem;
}

.travels .card-travel {
    width: 300px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 0px 2px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 0px 2px rgba(0,0,0,0);
}

.travels .card-travel .card-img img {
    width: 300px;
    height: 200px;
}

.travels .card-travel .card-text {
    padding: .5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.travels .card-travel .card-text .card-title p {
    color: var(--color-grey);
    font-size: 14px; 
}

.travels .card-travel .card-text .card-price {
    text-align: end;
}

.travels .card-travel .card-text .card-price span {
    color: var(--color-red);
    font-size: 14px;
    font-weight: 400;
    text-decoration:line-through;
    margin-right: .3rem;
}

.travels .card-travel .card-text .card-price p {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
}

.travels .card-travel .card-text .card-description p {
    color: var(--color-grey);
    font-size: 14px;
    text-align: justify;
}

.travels .card-travel .card-text .card-button {
    text-align: center;
}

.travels .card-travel .card-text .card-button button {
    padding: .4rem 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
